* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Pokemon Solid;
}

body {

    height: 100vh;
    background-image: url('../img/fundo_evolucoes.png');
    background-size: cover;
    background-repeat: repeat;
    background-attachment: scroll;
}

header {

    width: 100%;
    height: 100px;
    background-color: #204FE8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;

}

main {
    width: 100%;
    height: 77%;
    display: flex;
    justify-content: center;
}

.container {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card img {
    width: 300px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nome {
    font-family: 'Press Start 2P', cursive;
    color: white;
    text-transform: capitalize;
}

footer {
    width: 100%;
    height: 17%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 1px 100px;
}

footer button {
    width: 440px;
    height: 100px;
    background-color: #204FE8;
    font-size: 2.3rem;
    line-height: 0.9;
    color: #FFCA02;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.7s ease;
}

button:hover {
    background-color: red;
    color: white;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

@media (max-width: 1024px) {
    body {
        background-image: url('../img/fundo_evolucoes_tablet.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    header {
        justify-content: space-between;
        padding: 0;
    }

    header img {
        height: 58%;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .card img {
        width: 80%;
    }

    footer {
        padding: 1px 10%;
        justify-content: center;
        height: 10%;
    }

    footer button {
        width: 50%;
        height: 80%;
        font-size: 2.1rem;
    }
}


@media (max-width: 767px) {
    body {
        background-image: url(../img/fundo_evolucoes_celular.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    header {
        height: 80px;
        width: 100%;
    }

    header img {
        height: 40%;
        padding: 0px;
    }
    header a {
        height: 50%;
        width: 18%;
        font-size: large;
      
    }
    a img{
        height: 100%;
    }

    .container {
        width: 100%;
        height: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .card img {
        width: 100%;
    }
    .nome{
        font-size: 0.8rem;
    }

    footer {
        padding: 1px 10%;
        justify-content: center;
        height: 10%;
    }

    footer button {
        width: 70%;
        height: 75%;
        font-size: 1.3rem;
    }
}