* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Pokemon Solid;
}

@font-face {
    font-family: 'Pokemon Solid';
    src: url(../pokemon/Pokemon\ Solid.ttf) format(truetype);
}


body {

    height: 100vh;
    background-image: url('../img/fundo_area_especifica.png');
    background-size: cover;
    background-repeat: repeat;
    background-attachment: scroll;
}

header {

    width: 100%;
    height: 100px;
    background-color: #204FE8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;

}

main {
    width: 100%;
    height: 79%;
    display: flex;
    justify-content: center;
}

.container {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container img {
    width: 400px;
}

.container-texto {
    width: 40%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-texto h1 {
    font-family: 'Press Start 2P', cursive;
    text-transform: capitalize;
    color: white;
    font-weight: 200;

}

.container-texto h3 {
    color: #FFCA02;
    text-transform: capitalize;
    font-size: 2rem;
    display: flex;
    height: 50px;
    line-height: 1;
    align-items: flex-end;
    gap: 20px;
    font-weight: 200;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

.container-texto p {
    font-family: 'Press Start 2P', cursive;
    color: white;
    font-size: 1.2rem;
    font-weight: 200;
    overflow-wrap: anywhere;
    word-break: normal;
}

footer {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1px 100px;
}

footer button {
    width: 440px;
    height: 100px;
    background-color: #204FE8;
    font-size: 2.3rem;
    line-height: 0.9;
    color: #FFCA02;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.7s ease;
}

button:hover {
    background-color: red;
    color: white;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

@media (max-width: 1024px) {
    body {
        background-image: url('../img/fundo_area_especifica_tablet.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    header {
        justify-content: space-between;
        padding: 0;
    }

    header img {
        height: 58%;
    }

    main {
        height: 80%;
    }

    .container {
        width: 100%;
        height: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .container img {
        width: 320px;
        height: auto;
    }

    .container-texto {
        width: 90%;
        height: auto;
        gap: 20px;

    }

    .container-texto h1 {
        font-size: 1.5rem;
        font-weight: 200;
        justify-content: center;
        display: flex;

    }

    .container-texto h3 {
        font-size: 1.5rem;
        height: 30px;
        line-height: 1.3;
        font-weight: 200;
        justify-content: space-between;
    }

    .container-texto p {
        font-size: 1rem;
        font-weight: 200;
    }

    footer {
        height: 9%;
        padding: 1px 10%;
    }

    footer button {
        width: 30%;
        height: 60%;
        font-size: 1.5rem;
        line-height: 0.9;
        border-radius: 15px;
    }

}

@media (max-width: 767px) {
    body {
        background-image: url('../img/fundo_area_especifica_celulinho.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    header {
        height: 80px;
        width: 100%;
    }

    header img {
        height: 40%;
        padding: 0px;
    }

    header a {
        height: 50%;
        width: 18%;
        font-size: large;

    }

    a img {
        height: 100%;
    }

    main {
        height: 75%;
    }

    .container {
        width: 100%;
        height: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .container img {
        width: 190px;
        height: auto;
    }

    .container-texto {
        width: 90%;
        height: auto;
        gap: 10px;

    }

    .container-texto h1 {
        font-size: 1rem;
        font-weight: 200;

    }

    .container-texto h3 {
        font-size: 1rem;
        height: 30px;
        line-height: 1.3;
        font-weight: 100;
        justify-content: space-between;
    }

    .container-texto p {
        font-size: 0.7rem;
        font-weight: 100;
    }

    footer {
        height: 10%;
        padding: 1px 10%;
    }

    footer button {
        width: 100px;
        height: 50px;
        font-size: 1rem;
        line-height: 0.9;
        border-radius: 15px;
    }

}